/* App */
#app{
  margin-left: 10%;
  margin-right: 10%;
}
/* Header */
#header{
  text-align: center;
  display: block;
}

#cheesy-logo{
  height: 40px;
}

/* Cart */
#cart{
  float: right;
}

#cart-button{
  background-color: orange
}

.cart-list{
  min-width: 300px;
  max-width: auto;
}

.cart-message{
  text-align: center;
}
